<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headUrl}}
    <link rel="stylesheet" href="/css/about.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <main>
        <section id="intro-about">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum blanditiis et facilis soluta molestiae fugiat quasi
            </p>
        </section>
        <section id="industry-values">
            <div id="mission">
                <div>
                    {{!-- <img src="" alt=""> --}}
                </div>
            </div>
        </section>
    </main>
    {{>footer}}
</body>
</html>