<!DOCTYPE html>
<html lang="en">
<head>
    {{>headUrl}}
    <link rel="stylesheet" href="/css/iservices.css">
    <link rel="stylesheet" href="/css/forecast.css">
    <script type="text/javascript" src="/js/forecast.js" defer></script>
    <title>Forecast</title>
</head>
<body>
    {{>header}}
     
    <main>
        {{>disclaimer}}
        <section class="iservices flex f-column j-c-center a-i-center">
            <div id="intro">
                <p id="title" class="bold">The Weather info you need for your day</p>
                <p id="subtitle">Always be a step ahead before going out, that way there is nothing to stress about</p>
            </div>
            <div id="entry">
                <div id="capture">
                    <input type="text" name="Location entry" id="location" placeholder="Type a city or a country">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <p id="message-label" class="text-center">There were an error here</p>
            </div>
        </section>

        <section id="forecast-display">
            <div id="written-display" class="flex f-column a-i-center">
                <div id="title" class="text-center bold">
                    Weather Summary
                </div>
                <div id="w-result-box">
                    {{!-- 1 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="wind">
                            <span>Forecast</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">Sunny</span>
                        </div>
                    </div>
                    {{!-- 2 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="temperature">
                            <span>Temperature</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">40</span>
                            <span><sup>o</sup>C</span>
                        </div>
                    </div>
                    {{!-- 3 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="windsp">
                            <span>Wind speed</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">40</span>
                            <span>km/h</span>
                        </div>
                    </div>
                    {{!-- 4 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="pressure">
                            <span>Pressure</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">40</span>
                            <span>Pa</span>
                        </div>
                    </div>
                    {{!-- 5 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="precipitation">
                            <span>Precipitacion</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">40</span>
                            <span>Pe</span>
                        </div>
                    </div>
                    {{!-- 6 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="humidity">
                            <span>Humidity</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">40</span>
                            <span>g/m<sup>3</sup></span>
                        </div>
                    </div>
                    {{!-- 7 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="uvindex">
                            <span>UV index</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">40</span>
                            <span>mW/m<sup>2</sup></span>
                        </div>
                    </div>
                    {{!-- 8 --}}
                    <div class="w-wrapper">
                        <div class="w-category" id="visibility">
                            <span>Visibility</span>
                        </div>
                        <div class="w-data">
                            <span class="data-value bold">40</span>
                            <span>km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="graphic-display" class="flex j-c-center a-i-center">
                <div id="graphic-container">
                    <div class="forecast flex f-column j-c-center a-i-center" id="corner">
                            <span><img src="/images/cloudy.png" width="64" height="64" alt="forecast Icon"></span>
                            <span> <i class="fs-value"> Sunny </i></span>
                            <span id="highlight"><i class="fs-value">18</i> <sup>o</sup>C</span>
                    </div>
                    <div class="forecast">
                            <span><i class="fa-solid fa-wind"></i></span>
                            <span> <i class="fs-value">34</i> km/h</span>
                    </div>
                    <div class="forecast">
                            <span><i class="fa-solid fa-gauge"></i></span>
                            <span> <i class="fs-value">34</i> Pa</span>
                    </div>
                    <div class="forecast">
                        <span><i class="fa-solid fa-cloud-sun-rain"></i></span>
                        <span> <i class="fs-value">18</i> Pe</span>
                    </div>
                    <div class="forecast">
                        <span><i class="fa-solid fa-droplet"></i></span>
                        <span> <i class="fs-value">18</i> g/m<sup>3</sup></span>
                    </div>
                    <div class="forecast">
                        <span><i class="fa-solid fa-sun"></i></span>
                        <span><i class="fs-value">18</i> mW<sup>2</sup></span>
                    </div>
                    <div class="forecast">
                        <span><i class="fa-solid fa-eye-slash"></i></span>
                        <span><i class="fs-value">18</i> km</span>
                    </div>
                    
                </div>
            </div>
        </section>

        <section id="weather-advice">
            <div id="title" class="text-center bold">
                    Weather Advise
            </div>
            <div id="tab-advice" class="flex j-c-center">
                <input type="radio" class="tab-radio" name="radio-advice" id="hot-ad" checked>
                <label for="hot-ad" class="tab-label"><span class="circle orange"> Hot</span></label>
                <div class="content-advice">
                    1. Sometimes you can notice that you sweat a lot more than 
                    usual. This is because of the raise of temperature. Here are 
                    some measure you can follow to avoid side effect of a hot 
                    weather. <i>Sometimes you can notice that</i> you sweat a lot more 
                    than usual. This is because of the raise of temperature. Here 
                    are some measure you can follow to avoid side effect of a hot 
                    weather:
                </div>
                <input type="radio" class="tab-radio" name="radio-advice" id="cold-ad">
                <label for="cold-ad" class="tab-label"><span class="circle orange"> Cold</span></label>
                <div class="content-advice">
                    2. Sometimes you can notice that you sweat a lot more than 
                    usual. This is because of the raise of temperature. Here are 
                    some measure you can follow to avoid side effect of a hot 
                    weather. Sometimes you can notice that you sweat a lot more 
                    than usual. This is because of the raise of temperature. Here 
                    are some measure you can follow to avoid side effect of a hot 
                    weather:

                    We specially gathered those tip from professional skin care 
                    specialists
                </div>
                <input type="radio" class="tab-radio" name="radio-advice" id="rainy-ad">
                <label for="rainy-ad" class="tab-label"><span class="circle orange"> Rainy</span></label>
                <div class="content-advice">
                    3. Sometimes you can notice that you sweat a lot more than 
                    usual. This is because of the raise of temperature. Here are 
                    some measure you can follow to avoid side effect of a hot 
                    weather. Sometimes you can notice that you sweat a lot more 
                    than usual. This is because of the raise of temperature. Here 
                    are some measure you can follow to avoid side effect of a hot 
                    weather:

                    We specially gathered those tip from professional skin care 
                    specialists
                </div>
                <input type="radio" class="tab-radio" name="radio-advice" id="normal-ad">
                <label for="normal-ad" class="tab-label"><span class="circle orange"> Normal</span></label>
                <div class="content-advice">
                    4. Sometimes you can notice that you sweat a lot more than 
                    usual. This is because of the raise of temperature. Here are 
                    some measure you can follow to avoid side effect of a hot 
                    weather. Sometimes you can notice that you sweat a lot more 
                    than usual. This is because of the raise of temperature. Here 
                    are some measure you can follow to avoid side effect of a hot 
                    weather:

                    We specially gathered those tip from professional skin care 
                    specialists
                </div>
            </div>
            <div id="w-a-decor">
                <img src="/icons/icon-cruise.png" alt="Image of boat cruise">
            </div>
        </section>
    </main>

    {{>footer}}
</body>
</html>