<!DOCTYPE html>
<html lang="en">
<head>
  {{>headUrl}}
  <link rel="stylesheet" href="/css/index.css">
  <title>GPS - Home</title>
</head>
<body>
    {{>header}}
    
    <main>
      <section id="entrance">
        <div id="text-content">
          <p id="brand-name">Global Place Summary</p>
          <p id="brand-intro">
            Climate is the long-term weather pattern in a region, 
            typically averaged over 30 years. More rigorously, it is 
            the mean and variability of meteorological variables 
            over a time spanning from months to millions of 
            years.:
          </p>
          <div id="top-services">
            <span class="t-s">
              <a href="#">Forecast</a>
            </span>
            <span id="mid">or</span>
            <span class="t-s">
              <a href="#">University</a>
            </span>
          </div>
        </div>
        <div id="image-content">
          <img src="/images/index-main.png" width="208" height="208" alt="Image highlight">
        </div>
      </section>
      {{!--  --}}
      <section id="offers">
        <div class="title">
          Our services
        </div>
        <div id="offers-box">
          <div class="offer">
            <span class="offer-t">Forecast</span>
            <span class="offer-d">
                Climate is the long-term weather 
              pattern in a region, typically averaged 
              over 30 years. More rigorously, it is 
              the mean and variability of 
              meteorological variables over a time 
              spanning from months to millions of 
              years.
            </span>
          </div>
          <div class="offer">
            <span class="offer-t">Forecast</span>
            <span class="offer-d">
                  Climate is the long-term weather 
                pattern in a region, typically averaged 
                over 30 years. More rigorously, it is 
                the mean and variability of 
                meteorological variables over a time 
                spanning from months to millions of 
                years.
            </span>
          </div>
          <div class="offer">
            <span class="offer-t">Forecast</span>
            <span class="offer-d">
              Climate is the long-term weather 
              pattern in a region, typically averaged 
              over 30 years. More rigorously, it is 
              the mean and variability of meteorological variables over a time 
              spanning from months to millions of 
              years.
            </span>
          </div>
        </div>
      </section>

      <section id="partners">
        <div id="logo-partners">
          <img src="/images/partner-1.png" alt="Partner 1 - Google">
          <img src="/images/partner-2.png" alt="Partner 2 - Udemy">
          <img src="/images/partner-3.png" alt="Partner 3 - Facebooks">
        </div>
        <div id="intro-partners">
          We work with the companies above. As <span id="highlight">Partners</span>,
          they highly appreciated the good services we provide.
        </div>
      </section>

      <section id="providers">
        {{!-- Has same style as services section --}}
        <div class="title">
          We are <span>Powered by</span>:
        </div>
        <div id="providers-box">
          <div class="provider">
            <a href="https://www.weatherstack.com" title="WeatherStack" class="provider-t">WEATHERStack</a>
            <span class="provider-d">
                Climate is the long-term weather 
              pattern in a region, typically averaged 
              over 30 years. More rigorously, it is 
              the mean and variability of 
              meteorological variables over a time 
              spanning from months to millions of 
              years.
            </span>
          </div>
          <div class="provider">
            <a href="#" title="HipoLabs" class="provider-t">HipoLabs</a>
            <span class="provider-d">
                  Climate is the long-term weather 
                pattern in a region, typically averaged 
                over 30 years. More rigorously, it is 
                the mean and variability of 
                meteorological variables over a time 
                spanning from months to millions of 
                years.
            </span>
          </div>
        </div>
      </section>
    </main>

    {{>footer}}

    {{>cookies}}
</body>
</html>