<!DOCTYPE html>
<html lang="en">
<head>
  {{>link_url}}
  <link rel="stylesheet" href="/css/index.css">
  <title>Weather App Home</title>
</head>
<body>
  <div id="global-container">
    {{>header}}
    {{!-- Main-content of the page --}}
    <div id="content">
      <div id="content-left-side">
       
       <div id="content-header">
          <p>WELCOME !!! to <span id="site-name">WEATHER APP</span>.</p>
          <p> The app provides reliable information about the weather for a determinated location. Additionally, we offer a geolocation service. And IT'S FREE!!!</p>
          <img src="/images/cloud.png" alt="A cloud image" id="feature-img"/>
       </div>
       <div id="content-boxes">
        <div class="box" id="box1">
          <h3>S1 - Weather</h2>
          <p>We use an end point API to get you the most update information about the weather in a specific area. <a href="https://weatherstack.com/" title="Redirect to Weather API">Read about the API</a></p>
        </div>
        <div class="box" id="box2">
          <h3>S2 - Geolocation</h2>
          <p>We use an API to determine the location based on coordinates. You can also get the coordinate for a location. <a href="https://geoapify.com/">Link API</a></p>
        </div>
       </div>
      </div>
      <div id="content-right-side">
        <img src="/images/sun.png" width="120" height="120" alt="Image of a sunny weather"/>
        <img src="/images/cloudy.png" width="120" height="120" alt="Image of a cloudy weather"/>
        <img src="/images/windy.png" width="120" height="120" alt="Image of a windy weather"/>
        <img src="/images/rain.png" width="120" height="120" alt="Image of a rainy weather"/>
        <img src="/images/snow.png" width="120" height="120" alt="Image of a snow weather"/>
        <img src="/images/tornado.png" width="120" height="120" alt="Image of a tornado"/>
      </div>
     </div>
{{!-- Main-content of the page --}}
    {{>commentbox}}
    {{>footer}}
  </div>
</body>
</html>