<!DOCTYPE html>
<html lang="en">
<head>
    {{>link_url}}
    <title>Location</title>
</head>
<body>
    <div id="global-container">
    {{>header}}
    
    
    {{>sidemenu}}
    {{>footer}}
    </div>
</body>
</html>