<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/brands.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/solid.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/regular.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div id="container">
        <div class="left-side">
            <img src="/images/weather.png" alt="Image at the left of login page">
        </div>
        <div class="right-side">
            <div id="options-form">
                <div class="form-container">
                    <form action="">
                        <div class="form-header">
                            <h2>Welcome Back!</h2>
                            <img src="/images/sun.png" alt="label-sun">
                        </div>
                        <div class="form-body">
                            <input type="text" name="username" id="username" placeholder="Username">
                            <input type="password" name="username" id="password" placeholder="Password">
                            <button class="buttons login-button">Login</button>
                        </div>
                        
                    </form>
                </div>
                <div id="options-container">
                    <a href="#">Forgot your password?</a>
                    <div id="signup-bar">
                        <span>Don't have an account yet?</span>
                        <button class="buttons signup-button"></button>
                    </div>
                </div>
                <div class="error-section">
                    <p id="error-message">This is where error messages appear.</p>
                </div>
            </div>
        </div>

    </div>
    <div id="bottom-menu">
        <div class="menu-pages">
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Help</a></li>
            </ul>
          </nav>
        </div>
        <div class="social-media-link">
            <a href="https://www.facebook.com"><img src="/icons/facebook.ico" alt="Ico Facebook"/></a>
            <a href="https://www.instagram.com"><img src="/icons/instagram.ico" alt="Ico Insatagram"/></a>
            <a href="https://www.twitter.com"><img src="/icons/twitter.ico" alt="Ico Twitter"/></a>
            <a href="https://www.telegram.com"><img src="/icons/telegram.ico" alt="Ico Telegram"/></a>
            <a href="https://www.whatsapp.com"><img src="/icons/whatsapp.ico" alt="Ico Whatsapp"/></a>
        </div>
    </div>
</body>
</html>