<!DOCTYPE html>
<html lang="en">
<head>
    {{>lr_link_url}}
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div id="container">
        <div class="left-side">
            <img src="/images/weather.png" alt="Image at the left of login page">
        </div>
        <div class="right-side">
                <div class="form-container">
                    <form action="/login">
                        <div class="form-header">
                            <h2>LOGIN</h2>
                            <i class="fa-solid fa-droplet"></i>
                        </div>
                        <div class="form-body">
                            <input type="text" name="username" id="username" placeholder="Username" autofocus>
                            <input type="password" name="username" id="password" placeholder="Password">
                            <button class="buttons login-button">LOGIN</button>
                            
                            <div id="signup-bar">
                                <a href="#">Forgot your password?</a>
                                <a href="#">Don't have an account yet!</span></a>
                                <button class="buttons signup-button"><a href="/register">SIGN UP</a></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="error-output">
                    <p id="error-message">Everything looks fine... &#9786;</p>
                </div>
        </div>

    </div>
    {{>submenu}}
</body>
</html>