<div id="wrapper-cookies" class="flex f-column a-i-center ">
  <img src="/icons/cookies.png" alt="Image cookies">
  <p class="text-center">This page uses cookies to offer you a better experience. We cannot store them on your device without your permission. For the sake of the best user experience, click on allow cookies to enable them.</p>
  <div id="set-buttons" class="text-center">
    <button class="bold" type="submit" id="not-allow-cookies">Don't allow cookies</button>
    <button class="bold" type="submit" id="allow-cookies">Allow cookies</button>
  </div>
</div>