<div id="disclaimer" class="flex j-c-center a-i-center">
  <img src="/icons/warning.png" alt="Disclaimer image">
  <p>
    <span class="bold">DISCLAIMER</span>: The GPS platform is not the one providing the result for your queries. We use a third party API, process the data 
received from and display it to you. We have no certitude those data are accurate or not.
  </p>
</div>