<div id="footer">
      <div id="social-media">
        <a href="https://www.facebook.com"><img src="/icons/facebook.ico" alt="Ico Facebook"/></a>
        <a href="https://www.instagram.com"><img src="/icons/instagram.ico" alt="Ico Insatagram"/></a>
        <a href="https://www.twitter.com"><img src="/icons/twitter.ico" alt="Ico Twitter"/></a>
        <a href="https://www.telegram.com"><img src="/icons/telegram.ico" alt="Ico Telegram"/></a>
        <a href="https://www.whatsapp.com"><img src="/icons/whatsapp.ico" alt="Ico Whatsapp"/></a>
      </div>
      <div id="tramemark">
        &#169; This website is original.
      </div>
</div> 