<footer class="flex j-row-sb">
     <div id="i-parts">
        <div id="i-links">
          <a href="/forecast" title="Forecast page">About</a>
          <a href="/university" title="University page">Forecast</a>
          <a href="/about" title="About page">University</a>
          <a href="/faq" title="FAQ page">FAQ</a>
        </div>
     </div>
     <div class="i-subscribe" id="ft-subscribe">
      {{!-- Has the style as the subscribe in the top menu --}}
      <span class="text-center">Subscribe</span>
      <input type="email" autocomplete="off" name="email" placeholder="Email here" id="user-mail">
      <button onclick="alert(window.innerWidth)" type="submit">Go</button>
     </div>
     <div id="social">
      <img src="/images/logo.png" alt="Page's logo" title="Logo">
      <div id="links">
        <span><a href="" title="Facebook link"><i class="fa-brands fa-facebook-f"></i></a></span>
        <span><a href="" title="Twitter X link"><i class="fa-brands fa-x-twitter"></i></a></span>
        <span><a href="" title="Instagram link"><i class="fa-brands fa-instagram"></i></i></a></span>
        <span><a href="" title="LinkedIn link"><i class="fa-brands fa-linkedin"></i></a></span>
      </div>
     </div>
</footer> 