<header class="flex j-row-sb">
  <div id="logo-box">
    <img src='/images/logo.png'/>
  </div>
  {{!--  --}}
  <input type="checkbox" name="Mobile_bar" id="mobile-bar" class="d-hidden">
  <label id="label-menu" for="mobile-bar" class="d-hidden"></label>
  {{!--  --}}
  
  <div id="links-box" class="flex j-c-center a-i-center">
    <span><a href="/">Home</a></span>
    <span id="services">
      <a id="tag">Services</a>
      <div id="sub-links">
        <a href="/forecast">Forecast</a>
        <a href="/university">University</a>
      </div>
    </span>
    <span><a href="/about">About</a></span>
    <span id="subscribe">
      <img src="/icons/isubscribe.png" width="40" height="40" alt="Subscribe Icon"/>
      <div id="subscribe-box" class="i-subscribe">
        <input type="email" autocomplete="off" name="email" placeholder="Email here" id="user-mail">
        <button onclick="alert(window.innerWidth)" type="submit" class="bold">SUBSCRIBE</button>
      </div>
    </span>

  </div>
</header>