<div class="open-mobile-bars">
  <button id="open-menu"><i class="fa-solid fa-bars"></i></button>
</div>
<div id="header">
  <div class="close-mobile-bars">
    <button id="close-menu"><i class="fa-solid fa-times"></i></button>
  </div>
  <nav> 
    <ul>
      <li id="logo-wp"><a href="/"><img src='/images/bot.png'/></a></li>
      <li><a href="/forecast.html"><i class="fa-solid fa-cloud"></i><br>Forecast</a></li>
      <li><a href="/location.html"><i class="fa-solid fa-location-dot"></i><br>Location</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/help.html">Help</a></li>
      <li><a href="/login.html"><i class="fa-solid fa-user"></i></a></li>
    </ul> 
  </nav>
</div>