<div id="notice">
    <h2>New release</h2>
    <p>Hi &#128075 dear user, the official first version of the website is out.</p>
    <p>Have a tour to and leave your comment in the box at the bottom corner.</p>
</div>