<div class="container-side">
    <div id="icon-side">
        <i class="fa-solid fa-universal-access"></i>
    </div>
    <div id="menu-side">
        <div class="light-dark">
            <button  id="switch"><i class="fa-solid fa-sun"></i></button>
        </div>
        <div class="languages">
            <span><i class="fa-solid fa-globe"></i></span>     
            <ul>
               <li><a href="">EN</a></li>
               <li><a href="">ES</a></li>
               <li><a href="">FR</a></li>
            </ul> 
        </div>
    </div>
</div> 