div#content{
    width: 98%;
    margin: 0 auto;
    height: calc(100vh * 0.78);
    background-color: rgba(240, 255, 255, 0.5);
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
div#content .label-image{
    width: 95%;
    height: 100%;
}
div#content .label-image img{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    user-select: none;
}

div#content .label-message{
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div#content .label-message p{
    font-size: 25px;
    font-weight:lighter;
    color: rgb(57, 49, 49);
    padding: 0 10px;
}

@media (max-width: 1350px) {
    div#content{
        flex-direction: column;
    }

    div#content .label-image{
        width: 100%;
    }

    div#content .label-image img{
        width: 350px;
        height: auto;
    }

    div#content .label-message{
        width: 100%;
}