#content{
    width: 98%;
    height: calc(100vh * 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}

#content #title h3{ width: fit-content; font-size: 19px; text-align: center;}

#content #search-bar form{ display: flex; justify-content: center; flex-wrap: wrap;}

#content #search-bar form input,
#content #search-bar form button{ 
    height: 45px;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px;
}

#content #search-bar form input{
    width: 310px;
    font-style: italic;
    text-transform: uppercase;
}

#content #search-bar form input::placeholder{ font-size: 16px; }

#content #search-bar form button{
    background-color: #044cab;
    color: rgb(255, 252, 252);
    font-weight: bold;
    cursor: pointer;
}

#content #search-bar form button:hover{ transition: 200ms ease-in; background-color: rgb(5, 126, 5);}

#content .table{
    position: absolute;
    width: 50%;
    min-width: 300px;
    height: fit-content;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.42);    
    margin: 100px auto;
    z-index: 10;
    background-color: #004ead2a;
}

.table #for-o p,
.table #for-o img{ display: block; width: 80%; margin: 5px auto; text-align: center; font-size: 25px; font-weight: bold;}

.table #for-o img{
   width: 100px;
   height: 100px;
   background-color:
    transparent;
}

#content .table table{ width: 95%; margin: 25px auto; text-align: center; }

#content .table table tr th{padding: 8px 0; background-color: #2f7fe7;}

#content .table  p,
#content .table  h3{text-align: center;}

.hide{ display: none; };

@media (max-width: 1024px) {
    .table #for-o img{ width: 70px; height: 70px;}
}

@media (orientation: landscape) and (max-height: 390px) {
    #content .table{ width: 90%; }
    .table #for-o img{ width: 50px; height: 50px;}
}
