#content{
    width: 98%;
    height: calc(100vh * 0.76);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content #title h3{ font-size: 19px; margin: 10px 0; text-align: center;}

#content #search-bar form{display: flex; justify-content: center;}

#content #search-bar form input,
#content #search-bar form button{ 
    height: 45px;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px;
}

#content #search-bar form input{
    width: 350px;
    border-radius: 10px 0 0 10px;
    font-style: italic;
    text-transform: uppercase;
}

#content #search-bar form input::placeholder{
    font-size: 16px;
}

#content #search-bar form button{
    background-color: rgb(22, 33, 146);
    border-radius: 0 10px 10px 0;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

#content #search-bar form button:hover{ transition: 200ms ease-in; background-color: rgb(5, 126, 5);}

#content .table-resume{
    position: absolute;
    width: 80%;
    min-width: 300px;
    height: 450px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.42);
    margin: 5px auto 5px auto;
    transition: all 0.5s;
}

#content .table-resume table{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
  border-spacing: 10px;
}

#content .table-resume table caption{
    padding: 5px 0;
}

#content .table-resume table thead tr th{ border-bottom: 1px double #000000; padding: 2px;}

#content .table-resume table td{padding: 5px;} 

.result{
    width: 200px;
}

.hide{
    display:none;
}

#content .server-message{
    background-color: red;
    margin:10px;
    padding: 10px;
    color: white;
}
