/* 
    This file contains some styles for elements that will be appear in 
    all the pages. 
*/

@font-face { font-family: Rubik; src: url("../font/Rubik.ttf"); }
@font-face { font-family: snowball; src: url("../font/CfSnowballRegular-8xp2.ttf"); }
@font-face { font-family: roboto; src: url("../font/Roboto.ttf"); }

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html{ scroll-behavior: smooth; }

body{
    font-family: roboto;
    letter-spacing: 1px;
    overflow-x: hidden;
    color: #3b4045;
    font-size: 1rem;
}

body a{ text-decoration: none; }

body input,
body button{ 
    border: none;
    outline: none; 
    cursor: pointer;   
}

.flex{ display: flex; }

.f-column{ flex-direction: column; }

.j-c-center{ justify-content: center;}

.a-c-center{ justify-content: center;}

.a-i-center{ align-items: center;}

.j-row-sb{ justify-content: space-between;}

.bold{ font-weight: 900 ;}

.text-center { text-align: center;}

header{ 
    width: 98%; 
    height: 72px;
    margin: 4px auto;
    background: #ffffff33;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.96);
    backdrop-filter: blur(50px);
 }

 #logo-box img{
    display: block;
    width: 168px;
    height: 56px;
    margin-left: 8px;
    margin-top: 6px;
 }

 #links-box{
    flex-grow: 1;
    gap: 56px;
    user-select: none;
 }

 #links-box span a,
 #links-box #services{
    color: #3b4045;
    transition: all 500ms;
 }

 #links-box span a:hover{ color: #1071c1; }

 #links-box #services,
 #links-box #subscribe{
    position: relative;
    display: block;
 }

 #links-box #services::after{
    content: "";
    width: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #444a4b;
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    margin-right: -10px;
    top: 20px;
    transition: all 300ms;
 }

 #links-box #services:hover::after{
    transform: rotate(180deg) translateX(50%);
 }

 #links-box #services #sub-links,
 #links-box #subscribe #subscribe-box{
    padding-top: 16px;
    display: none;
    top: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.98);
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms;
    z-index: 2;
 }

 #links-box #services #sub-links a{
    display: block;
    width: 100%;
    padding:  10px 8px;
    font-weight: 300;
 }

 #links-box #services #sub-links a:hover{ background: rgb(245, 248, 255); }

 #links-box #services #sub-links :first-child{ border-bottom: 1px solid #e3e3e3; }

 #links-box #services:hover #sub-links,
 #links-box #subscribe:hover #subscribe-box{
    display: block;
 }

 #subscribe-box{ padding: 8px; }

 .i-subscribe input{
    height: 32px;
    width: 160px;
    padding: 0 16px;
    border: 1px solid rgb(209, 209, 209);
    background: #f9fcff;
    cursor: text;
 }

 .i-subscribe button{
    margin: 8px auto 4px auto ;
    display: block;
    padding: 0.5em;
    background: #fdd020;
    font-size: 0.90em;
    border-radius: 8px;
 }

 /* Footer */

footer{
    width: 98%; 
    height: auto;
    margin: auto;
    background-color: #1071c1;
    color: whitesmoke;
    padding: 32px 72px;
}

footer #i-parts #i-links a{
    display: block;
    padding: 4px;
    margin: auto;
    color: whitesmoke;
    margin-bottom: 4px;
    transition: all 200ms;
}

footer #i-parts #i-links a:hover{
    background: whitesmoke;
    color: #1071c1;
}

footer #ft-subscribe span{
    display: block;
    margin-bottom: 8px;
}

footer #ft-subscribe input{
    margin: 0;
    padding-right: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

footer #ft-subscribe button{
    position: relative;
    right: 10px;
    padding-right: 16px;
    display: inline-block;
}

footer #social img{
    width: 128px;
    height: 40px;
}

footer #social #links a{
    display: inline-block;
    color: whitesmoke;
    padding: 8px;
    padding-left: 2px;
    font-size: 1.25rem;
    margin-top: 16px;
    transition: all 500ms;
}

footer #social #links a:hover{
    background: whitesmoke;
    color: #1071c1;
}

/* Part Cookie */

@keyframes showPopup {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes withdrawPopup {
    0%   { transform: translateX(0); }
    100% { transform: translateX(100%); }
}


#wrapper-cookies{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0px;
    gap: 8px;
    padding: 16px 0;
    animation: withdrawPopup 500ms normal forwards step-end;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

#wrapper-cookies img{
    display: block;
    width: 80px;
    height: 80px;
}

#wrapper-cookies p{
    font-size: 0.85rem;
    width: 50%;
}

#wrapper-cookies #set-buttons button{
    border-radius: 8px;
    padding: 8px 24px; 
    font-size: 0.90rem;
    background: transparent;
}

#wrapper-cookies #set-buttons button#not-allow-cookies{
    border: 2px solid #fdd020;
    margin-right: 2px;    
}

#wrapper-cookies #set-buttons button#allow-cookies{
    background: #fdd020;
    padding: 10px 2rem;
    margin-left: 2px;
}

main{
    width: 98%;
    margin: auto;
}

/* Responsive design */

 @media all and (min-width: 705px) {
    .d-hidden{ display: none; }
 }
 
 @media all and (max-width: 704px) {

    header {
        width: 100%;
        margin: 0;
        position: relative;
        font-size: 1.05rem;
    }
    
    header input#mobile-bar{ 
        display: none; 
    }

    header label#label-menu{
        position: absolute;
        top: 50%;
        right: 48px;
        transform: translateY(-50%);
    }

    header input#mobile-bar + label::before{ 
        content: '\2630';
        font-size: 24px;
        text-align: center;
        padding: 30% 70%;
        background: #1071c1;
        color: whitesmoke;
        cursor: pointer;
    }

    #logo-box img{ margin-left: 16px;}

    #links-box{
        padding-top: 24px;
        width: 100%;
        display: none;
        position: absolute;
        top: 72px;
        text-align: center;
        transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 1;
    }

    #links-box::after {
        content: "";
        width: 100%;
        height: calc(100vh - 216px);
        position: absolute;
        top: 0;
        left: 0;
        background: hsl(210, 60%, 98%);
        z-index: -1;
        border-bottom: 2px solid #a6cded;
        border-radius: 0 0 32px 32px;
    }

    #links-box #services,
    #links-box #subscribe{
        height: 132px;
    }

    #links-box #services a#tag{
        position: relative;
        top: 8px;
    }

    #links-box #services::after{
        content: none;
    }

    #links-box #services #sub-links{
        position: relative;
        display: block;
        padding: 0;
    }

    #links-box span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        height: 48px;
    }

    #links-box #subscribe #subscribe-box{
        position: relative;
        display: block;
        top: -8px;
        padding-top: 8px;
        margin-top: 8px;
        box-shadow: none;
    }

    #links-box #services #sub-links :first-child{
        border: none;
    }

    header input#mobile-bar:checked + label::before{ 
        content: '\292B';
    }

    header input#mobile-bar:checked ~ #links-box{
        display: block;
    } 

    footer{
        padding: 24px;
        flex-direction: column;
        align-items: center;
    }

    footer #ft-subscribe{
        margin-bottom: 8px;
    }

    footer #ft-subscribe span{
        margin-top: 8px;
        margin-bottom: 4px;
        font-weight: bold;
        text-align: center;
    }

    #wrapper-cookies p{
        width: 90%;
        text-align: justify;
    }

    #wrapper-cookies #set-buttons button#not-allow-cookies{
        margin-bottom: 4px;
    }
 }

