div#content{
    width: 98%;
    margin: auto;
    height: calc(100vh * 0.799);
    padding: 45px 15px 10px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    gap: 10px;
}

#content-left-side #content-header{
    width: 80%;
    height: 215px;
    margin: 0px auto 0px auto;
}

#content-header p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#site-name{ font-family: snowball; font-size: 1.5em; }

#content-header a{text-decoration: none;}

#content-header a button{
    width: 180px;
    height: 45px;
    display: block;
    font-size: 24px;;
    user-select: none;
    background-color: #fff;
    color: #4fa9f8;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

div#content-boxes{
    margin: 35px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#content-boxes .box{
    width: 210px;
    height: fit-content;
    overflow-y: auto;
}

div#content-boxes .box h3{ border-bottom: 2px solid rgb(134, 134, 77); }

div#content-boxes .box p{
    padding: 5px;
    text-align: justify;
    font-size: 16px;
}


div#content #content-right-side{
    display: none;
}

div#content #content-right-side img{ width: 150px; height: 150px; user-select: none; }

@media (min-width: 1025px){
    div#content #content-right-side{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 100%;   
    }

}

@media (max-width: 1024px) {
    div#content{ padding: 0; width:100% !important; overflow: hidden; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    #content-header{ height: fit-content !important;}
    #content-boxes{ display: none !important;}
    div#content #content-right-side img{ width: 54px; height: 54px;}
}
