div#content{
    width: 98%;
    margin: auto;
    height: calc(100vh * 0.78);
    padding: 45px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#content-left-side #content-header{
    width: 80%;
    height: 265px;
    margin: 0px auto 0px auto;
}

#content-header p{
    font-size: 20px;
    margin-bottom: 25px;
    text-align: justify;
}

#site-name{ font-family: snowball; font-size: 1.5em; }

#content-header img{
    width: 50%;
    height: 40%;
    margin: auto;
    display: block;
    user-select: none;
}

div#content-boxes{
    margin: 35px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#content-boxes .box{
    width: 210px;
    height: auto;
    overflow-y: auto;
}

div#content-boxes .box h3{ border-bottom: 2px solid rgb(134, 134, 77); }

div#content-boxes .box p{
    padding: 5px;
    text-align: justify;
    font-size: 16px;
}

div#content #content-right-side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;   
}

div#content #content-right-side img{ width: 150px; height: 150px; user-select: none; }

@media (max-width: 1024px) {
    div#content{ width:100% !important; padding-top: 35px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    #content-header{ height: fit-content !important;}
    #content-boxes{ display: none !important;}
    div#content #content-right-side img{ width: 54px; height: 54px;}
}

@media (max-height: 615px) or (max-width: 1024px)  {
    #content-left-side #content-header{ height: 200px; }
    #content-header #feature-img{ display: none;}
}